ackermann-msgs==2.0.2
action-msgs==1.2.2
action-tutorials-interfaces==0.20.7
action-tutorials-py==0.20.7
actionlib-msgs==4.9.0
actuator-msgs==0.0.1
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
bond==4.1.2
builtin-interfaces==1.2.2
certifi==2026.1.4
click==8.3.1
composition-interfaces==1.2.2
control-msgs==4.8.0
controller==2025.0.0
controller-manager==2.53.0
controller-manager-msgs==2.53.0
cv-bridge==3.2.1
demo-nodes-py==0.20.7
diagnostic-msgs==4.9.0
diagnostic-updater==4.0.6
dnspython==2.8.0
domain-coordinator==0.10.0
dwb-msgs==1.1.20
email-validator==2.3.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
fastapi==0.128.2
fastapi-cli==0.0.20
fastapi-cloud-cli==0.11.0
fastar==0.8.0
gazebo-msgs==3.9.0
generate-parameter-library-py==0.6.0
geographic-msgs==1.0.6
geometry-msgs==4.9.0
gps-msgs==2.1.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
image-geometry==3.2.1
interactive-markers==2.3.2
Jinja2==3.1.6
joblib==1.5.3
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
laser-geometry==2.4.1
launch==1.0.13
launch-param-builder==0.1.1
launch-ros==0.19.13
launch-testing==1.0.13
launch-testing-ros==0.19.13
launch-xml==1.0.13
launch-yaml==1.0.13
lifecycle-msgs==1.2.2
logging-demo==0.20.7
map-msgs==2.1.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
message-filters==4.3.11
mocap4r2-control-msgs==0.0.7
moveit-configs-utils==2.5.9
moveit-msgs==2.2.1
nav-2d-msgs==1.1.20
nav-msgs==4.9.0
nav2-common==1.1.20
nav2-msgs==1.1.20
nav2-simple-commander==1.0.0
numpy==2.4.2
nvidia-nccl-cu12==2.29.3
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
osrf-pycommon==2.1.6
pandas==3.0.0
pcl-msgs==1.0.0
pendulum-msgs==0.20.7
play-motion-builder-msgs==1.4.0
play-motion2==1.8.2
play-motion2-msgs==1.8.2
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
python-qt-binding==1.1.3
PyYAML==6.0.3
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.7
rcl-interfaces==1.2.2
rclpy==3.3.19
rcutils==5.1.8
resource-retriever==3.1.3
rich==14.3.2
rich-toolkit==0.18.1
rignore==0.7.6
rmw-dds-common==1.6.0
robot-localization==3.5.4
ros-gz-interfaces==0.244.20
ros2action==0.18.15
ros2bag==0.15.15
ros2cli==0.18.15
ros2component==0.18.15
ros2controlcli==2.53.0
ros2doctor==0.18.15
ros2interface==0.18.15
ros2launch==0.19.13
ros2lifecycle==0.18.15
ros2multicast==0.18.15
ros2node==0.18.15
ros2param==0.18.15
ros2pkg==0.18.15
ros2plugin==5.1.3
ros2run==0.18.15
ros2service==0.18.15
ros2topic==0.18.15
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.8
rosidl-cli==3.1.8
rosidl-cmake==3.1.8
rosidl-generator-c==3.1.8
rosidl-generator-cpp==3.1.8
rosidl-generator-py==0.14.6
rosidl-parser==3.1.8
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-introspection-cpp==3.1.8
rpyutils==0.2.2
rqt==1.1.9
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-controller-manager==2.53.0
rqt-dotgraph==0.0.5
rqt-gauges==0.0.3
rqt-graph==1.3.1
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-joint-trajectory-controller==2.52.0
rqt-moveit==1.0.1
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==1.0.6
rqt-robot-steering==1.0.3
rqt-runtime-monitor==1.0.0
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-tf-tree==1.0.5
rqt-topic==1.5.0
scikit-learn==1.8.0
scipy==1.17.0
scripts==3.9.0
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
sentry-sdk==2.52.0
shape-msgs==4.9.0
shellingham==1.5.4
six==1.17.0
slam-toolbox==2.6.10
smclib==4.1.2
srdfdom==2.0.7
sros2==0.10.7
starlette==0.50.0
statistics-msgs==1.2.2
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
teleop-twist-keyboard==2.4.1
tf-transformations==1.1.0
tf2-geometry-msgs==0.25.18
tf2-kdl==0.25.18
tf2-msgs==0.25.18
tf2-py==0.25.18
tf2-ros-py==0.25.18
tf2-sensor-msgs==0.25.18
tf2-tools==0.25.18
theora-image-transport==2.5.4
threadpoolctl==3.6.0
topic-monitor==0.20.7
trajectory-msgs==4.9.0
turtle-tf2-py==0.3.7
turtlesim==1.4.3
typer==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
unique-identifier-msgs==2.2.1
ur-moveit-config==2.11.0
urdfdom-py==1.2.1
urllib3==2.6.3
uvicorn==0.40.0
uvloop==0.22.1
vehicle==2025.0.0
vision-msgs==4.1.1
visualization-msgs==4.9.0
watchfiles==1.1.1
webots-ros2==2025.0.0
webots-ros2-crazyflie==2025.0.0
webots-ros2-driver==2025.0.0
webots-ros2-epuck==2025.0.0
webots-ros2-husarion==2025.0.0
webots-ros2-importer==2025.0.0
webots-ros2-mavic==2025.0.0
webots-ros2-msgs==2025.0.0
webots-ros2-tesla==2025.0.0
webots-ros2-tiago==2025.0.0
webots-ros2-turtlebot==2025.0.0
webots-ros2-universal-robot==2025.0.0
websockets==16.0
xacro==2.1.1
xgboost==3.1.3
